<% include partials/header %>
<div class="container">
<h1 class="text-center" style="margin-top:70px;">ABOUT US</h1>

<p>“MoveEasy”  is a transportation company targeted at providing solution to the movement of people, 
goods and services  from location to the other </p>
<p>The vision is to change the face of transportation in our generation.					
We shall be launching the “MoveEasy” starting with the land transportation.
The means of transportation is Coaster and Hiace bus .</p>
<p>It is aimed at providing affordable, executive, convenient and conducive transportation
 for corporate white collar professionals  from Lagos
mainland regions to Lagos Island regions and vise versa.					
</p>
<p>The bus will be fully air-conditioned with free Wi-fi . 
Regular customers will have the opportunity to pay subscription fees.</p>
</div>

<% include partials/footer %>