<!--<% include ./partials/header %>-->
<!--<div class="container">-->
<!--<h1 class="text-center" style="margin-top:70px;">Register New</h1>-->
<!--<div style="width: 30%; margin: 25px auto;">-->
<!--<form action="/registeredusers" id="form" method="POST">-->
<!--                <div class="form-group">-->
<!--                    <input class="form-control" type="text" name="firstName" id="firstname" pattern="[A-Z]{5,15}" placeholder="firstName" title="FirstName should only contain UPPERCASE letters and minimum of 3 character. e.g. JOHN">-->
<!--                </div>-->
<!--                 <div class="form-group">-->
<!--                    <input class="form-control" type="text" name="lastName" id="firstname" pattern="[A-Z]{5,15}" placeholder="lastName" title="LastName should only contain UPPERCASE letters and minimum of 3 character. e.g. JOHN">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <input class="form-control" type="tel" name="phone" id="phone" pattern="^\d{11}$" placeholder="phone number" title="Phone number should only contain digits. e.g. 08032346764">-->
<!--                </div>-->
<!--                  <div class="form-group">-->
<!--                    <select name="location">-->
<!--                          <option value="agege">Agege</option>-->
<!--                          <option value="ipaja">Ipaja</option>-->
<!--                          <option value="ogba">Ogba</option>-->
<!--                          <option value="yaba">Yaba</option>-->
<!--                          <option value="egbeda">Egbeda</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <input class="form-control" type="text" name="location_other" placeholder="other location">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <input class="form-control" type="text" name="bus_stop" placeholder="Nearest Bus Stop">-->
<!--                </div>-->
<!--                 <div class="form-group">-->
                    <!--<input class="form-control" id="pickupTime" type="time" name="pickupTime" placeholder="pick up time">-->
<!--                    <input class="form-control" id="pickupTime" type="Number" name="pickupTime" placeholder="pick up time">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <select name="gender">-->
<!--                          <option value="male">Male</option>-->
<!--                          <option value="female">Female</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                <textarea class="form-control" name="comment" id="" cols="30" rows="10"></textarea>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>-->
<!--                </div>-->
<!--            </form>-->
<!--            </div>-->
<!--</div>-->
<!--<% include ./partials/footer %>-->